/* 
    Document   : style
    Created on : 20-May-2013, 14:51:31
    Author     : William
    Description:
        Purpose of the stylesheet follows.
*/

body{
    margin-left: auto;
    margin-right: auto;
}

body .modal {
  width: 70%; /* desired relative width */
  left: 15%; /* (100%-width)/2 */
  margin: auto auto auto auto; /* place center */
}

#controlPanel{
    margin-top: 10px;
    margin-bottom: 10px;
}

#imageOverview{
    height: 400px;
    margin-bottom: 5px;
}

#imageWindow{
    border-style: solid;
    border-color: #ee5f5b;
    padding: 10px;
    height: 100%;
    text-align: center;
}

#pptImage{
    display: none;
    height: 380px;
}

#imagePanel{
    border-style: solid;
    border-color: #ee5f5b;
    height: 100%;    
}

#imageInfo{
    height: 50%;
}

#buttons{
    height: 50%;
}

.imageField{
    margin-left: 2px;
    margin-bottom: 2px;
    float: left;
    font-family: Arial,Helvetica,sans-serif;   
    width: 100%;
}

#imageCarousel{
    height: 100px;
}

#overview{
    display: none;
    width: 100%; 
    text-align: left;
}

.overviewField{
    width: 60%;
    margin-left: 2px;
    margin-bottom: 2px;
    float: left;
    font-family: Arial,Helvetica,sans-serif;  
    font-size: 16px;
    
}

#placeholderOverview{
    display: none;
    width: 100%;
}

#placeholderSave{
    float: right;
}

#placeholderArrow{
    margin-left: 30px;
}

#flickrSearch{
    display: none;
    width: 100%;
}

#ccOverview{
    height: 100%;
    display: none;
    width: 100%;
    float: left;
    vertical-align: middle;
}

#ccOld{
    width: 50%;
}

#ccText{
    margin-top: 100px;
    width: 40%;
    text-align: left;
}

#ccSave{
    float: right;
}

.image-viewer { 
    margin: 5px;
    padding: 5px;
    display: block;
    height: 250px;
    width: 48%;
    float: left;
    background: ghostwhite;
}

.image-viewer .licence{
    
}

.image-container{
    height: 250px;
    width: 48%;
    text-align: center;
    float: left;
}

.helper{
    display: inline-block;
    height: 380px;
    vertical-align: middle;
}

.ppt-image{
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    max-height: 100%;
}

.button-container{
    height: 250px;
    width: 48%;  
    float: left;
}

#flickrLicence{
    width: 200px;
}

.flickrForm{
    margin-left: 10px;
}

#flickr-loading{
    display: none;
    text-align: center;
    height: 200px;
}

#flickr-results{
    display: none;
}

.flickr-result{
    background: ghostwhite;
}

.flickr-row{
    margin-bottom: 10px;
}

.flickr-selected{
    border-style: solid;
    border-color: red;
}

#placeholder-body{
    text-align: center;
    height: 300px;
}

.placeholder-image{
    width: 40%;
    float: left;
    height: 100%;
}

.placeholder-old{
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;    
}

